.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    opacity: 0;
    width: 85ch;
    animation:
            typing 5s steps(30, end) 5s forwards,
            blink-caret .75s step-end infinite 5s;

}


/* The typing effect */
@keyframes typing {
    from { width: 0; opacity: 1 }
    to { width: 100%; opacity: 1 }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }}